
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-touch="true" *ngIf="!spinner">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <!--item-->
        <div class="carousel-item active"> 
            <!--slider-->
            <div class="wrap" id="slider1" *ngIf="equipo">
                <!--header-->
                <div class="header">
                    <!--box svg-->
                    <div class="boxSvg">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="364px" height="163px" viewBox="0 0 364 163" enable-background="new 0 0 364 163" xml:space="preserve">  <image id="image0" width="364" height="163" x="0" y="0"
                            xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWwAAACjCAMAAACZiNReAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                        AAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAABzlBMVEX///8FW/wFW/wqdPxc
                        lP0vdvx5p/0YZ/wOYfxSjv0lcPyBrf0JXfxKiP03fP1ak/0/gf1Miv0gbfxNi/0vd/wncfwXZvwJ
                        XvwUZfwfbPwqc/xQjP2ArP0XZ/wsdfxonP0mcPx4p/0yefwjb/w6fv0SY/xjmP0zefwMYPxLif0i
                        bvxgl/0RY/xGhf17qf0PYfw1e/yCrf1JiP1wof0QYvw3fPxdlf0GW/wkcPxxov04ffxflv0GXPwm
                        cfxyo/0SZPw6fvwncvxOi/10pP0TZPw7f/1hmP0HXPwpcvxPjP11pf09gP1jmf1Qjf13pv0VZfw+
                        gP1kmv0HXfwrdPwWZvxmm/0IXfwsdPxTjv1Bgv1nnP0tdfxVj/16qP1Cg/1pnP0udvxWkP1EhP1q
                        nf1Ykf17qP0ZaPxFhf1snv0wd/xZkv18qf1Ghv1tn/0KXvxbk/19qf0aafxHhv1voP0xePx9qv0b
                        afxIh/0yePxelf1+qv0cavxJh/0LX/x/q/1zo/0da/w0evxhl/2BrP0ea/x2pf0MX/w1evximP1M
                        if02e/xNiv0NYPxkmf0hbfw4fPxlmv0FW/wIXfwgbPw7fvxVkP1wof2Ls/2mxP7///9QcU9XAAAA
                        kXRSTlMAAGYhBRwBOU0HKAFcCxUFEAktCRwlPVxBMCEIAT0fAyUBGSoTRQMZUgsqBUgMAU0XAQsC
                        SBUFYSgCFAVhJQJFEyUJAUUTA2EiCQERAwgBQRADYSE9A1wfBw8DHwcBDgMcBg0DBgE5DQIaBgEM
                        AlcFATYMAhoBNgsZBQEzC1cBATMXAwEwAVIXAwkVCVIDLRQDVJnuaQAAAAFiS0dEAIgFHUgAAAAJ
                        cEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQflAgsGGgMKNSMjAAADu0lEQVR42u3cB3dURRyG8dk/
                        gVCSCEhIAomACCQkFGmCiVIVkFCV0LuUoIBUKyhKkSIg/eOy9HLC7t17576Te/M8n2Dmd94ze07O
                        Zt3/JMuFPsBACmxhYAsDWxjYwsAWBrYwsIWBLQxsYWALA1sY2MLAFga2MLCFgS0MbGFgCwNbGNjC
                        wBYGtjCwhYEtDGxhYAsDWxjYwsAWBrYwsIWBLQxsYWALA1sY2MLAFga2MLCFgS0MbGFgCwNbGNjC
                        wNZ1F2xd98DWdR9sXQ/A1vUQbF2PwNb1GGxZ5sCWBbawQWDrqgJblwNbloGtC2xhg8HWNQRsWU9f
                        EbBFVYOtqwpsWc9eEbA1DQVb1zCwZT1/RcCWNBxsXSPAllXjwJZVC7asFx+PYCuqA1vWq2GDnX51
                        YMt6PWywU68ObFlvDBvslLMPwJZV7cBW9eYjAnbKjQRb1lAHtqq3HxGw08xGgS1rtANbVY0DW5U5
                        sFXZh2CrsjEObFX1DmxVYx3YqsyBreo91mCnUIMDW1WjA1uUNTmwRdk4B7YoG+/AFmXNDmxRLc6B
                        rck+cmCLsgnlrMH2lE0sSw22pxomRbAG20f2cRRqsD1k9dGowU6cTY5KDXbCSv0lBGyv2SeVUIMd
                        P5sytTJqsONm0yqVBjtW1toWQxrsijOb3h5PGuyKso4ZM2NDgx0xs1mzqz5N5Ax2+cwmz5mbXBns
                        kpnNm7+gUCh4gwa7r+yzhW2LCi8DO53MOj7vLLwT2L6zri9GfVnoM7D9KdviJe2FUoHtg7lr6bLl
                        hfKBnUjZVnz1dQRlsJMxr1y1+pvozGDHU7bGNd2VKoNdMfPKcWvXxWQGO7Kyrd+wMZEy2FGYN307
                        bJIPZrBLKdt3Izd7tfFeaCIvzD1btg4JDZl77OKYt20PLZh/bOvZsXNXaLvcY5u17N4TGi3/2Faz
                        d1/2xpw1bLPq/QdCO+Ue26xh8PcHQwvlHtvs0OEjoWlyj10cc+/RH0Kj5B67OOYfj4XWyD222fHe
                        Ez+Fdsg9ttnJU6dDA+QeuzjmM1VnQ18999hm537293WurCUc8y+//hb6trnHNvv9j0Whr9k/SlX5
                        /LTOC6Ev2J9Ka8y1f4a+WT/M/5jbm5OfKqf5Y/6rdnnoy/T3fIz54t//hL5GNkrEfKntcujzZ6p4
                        yleu/uvh/3kGXJUyN11bF/rI2S2ycuv17tBnzXxRxnwj0m/yUNlKKd+8/l/o4+WrvplH38jE17my
                        1rtjns+Y0+sV861ljDntimO+fSf0IQZITwD9iKTTvcQ2NgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAy
                        MS0wMi0xMVQwNjoyNjowMyswMzowMJAE/TkAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMDItMTFU
                        MDY6MjY6MDMrMDM6MDDhWUWFAAAAAElFTkSuQmCC" />
                        </svg>
                    </div><!--/box svg-->
                    <div class="boxText">
                        <div class="marca">
                            <img [src]="equipo.equipment.provider.icon_extra4">
                           <!--{{equipo.equipment.provider.name}}-->
                        </div>
                        <div class="title">{{equipo.equipment.name}} {{equipo.equipment.equipment_details[0].memory}}GB</div>
                        <div class="color d-none">Color: {{equipo.equipment.colors[0].name}}</div>
                    </div>
                </div><!--/header-->
                <!--main-->
                <div class="main">

                    <div class="cuotas mt-3">
                        <p class="animated  bounceInLeft" style="animation-delay:0.2s;">
                            {{equipo.equipment.equipment_details[0].adscreen[0].equipment_plan[0].cuote_number}} cuotas sin interés de
                        </p>
                        <h3 class="animated bounceInLeft" style="animation-delay:0.5s">
                        <span class="hvr-pulse-shrink" style="animation-delay:1.5s">${{cuota  | safe:'price'}}</span></h3>
                    </div>
                    <div class="boxDetalles">
                        <div class="boxSvg position-right">
                            <img src="https://rinnolab.cl/media/upload/images/2021/02/orig/figure_entel.svg">
                        </div>
                        <div class="boxText">
                            <div class="oferta mt-2">Precio oferta cliente: <b>${{equipo.equipment.equipment_details[0].adscreen[0].equipment_plan[0].price_1 | safe:'price'}}</b></div>
                            <div class="subTitle animated bounceInLeft text-right" style="animation-delay:1.3s">
                                Portándote a planes
                            </div>
                            <div class="desde animated bounceInLeft font-weight-bold text-right" style="animation-delay:1.5s">
                                <span class="text-desde">desde</span> 
                                <span class="hvr-pulse-shrink2">${{equipo.equipment.equipment_details[0].adscreen[0].plan[0].price_1 | safe:'price'}}</span>
                            </div>
                            <div class="cargo mt-1">Cargo fijo mensual</div>
                            <div class="boxIcons mt-1">
                                <img src="https://rinnolab.cl/media/upload/images/2020/11/orig/rrss.png">
                            </div>
                            <div class="precioNoCliente">Precio no cliente: <b>${{equipo.equipment.equipment_details[0].price_1 | safe:'price'}}</b></div>
                        </div>
                    </div>
                </div><!--/main-->
                <div class="boxaudifonos text-center">
                    <img src="assets/img/audifonos.png">
                    <div class="texts pl-2">
                        <p class="marca font-weight-bold">{{equipo.equipment.equipment_details[0].adscreen[0].accessory_details[0].provider_name}}</p>
                        <p class="modelo">{{equipo.equipment.equipment_details[0].adscreen[0].accessory_details[0].accessory_name}}</p>
                    </div>
                </div>
                <!--buttons-->
                <div class="boxButtons">
                  
                    <button type="button" class="btn btn-primary mr-3"  (click)="alertMessage()">Ir al equipo</button>

                    <button type="button" class="btn btn-danger" routerLink="detail-accessory">llévame con este accesorio</button>
                   
                    
                </div>
                <!--/buttons-->
            </div><!--/slider-->
        </div><!--/item-->
        
        <!--item-->
        <div class="carousel-item">
            <app-slide2></app-slide2>
        </div><!--/item-->

    </div>
</div>
<app-spinner *ngIf="spinner"></app-spinner>