       <!--slider-->
       <div class="wrap" id="slider1"  *ngIf="equipo">
        <!--header-->
        <div class="header">
            <!--box svg-->
            <div class="boxSvg">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="364px" height="163px" viewBox="0 0 364 163" enable-background="new 0 0 364 163" xml:space="preserve">  <image id="image0" width="364" height="163" x="0" y="0"
                    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWwAAACjCAMAAACZiNReAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                AAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAABzlBMVEX///8FW/wFW/wqdPxc
                lP0vdvx5p/0YZ/wOYfxSjv0lcPyBrf0JXfxKiP03fP1ak/0/gf1Miv0gbfxNi/0vd/wncfwXZvwJ
                XvwUZfwfbPwqc/xQjP2ArP0XZ/wsdfxonP0mcPx4p/0yefwjb/w6fv0SY/xjmP0zefwMYPxLif0i
                bvxgl/0RY/xGhf17qf0PYfw1e/yCrf1JiP1wof0QYvw3fPxdlf0GW/wkcPxxov04ffxflv0GXPwm
                cfxyo/0SZPw6fvwncvxOi/10pP0TZPw7f/1hmP0HXPwpcvxPjP11pf09gP1jmf1Qjf13pv0VZfw+
                gP1kmv0HXfwrdPwWZvxmm/0IXfwsdPxTjv1Bgv1nnP0tdfxVj/16qP1Cg/1pnP0udvxWkP1EhP1q
                nf1Ykf17qP0ZaPxFhf1snv0wd/xZkv18qf1Ghv1tn/0KXvxbk/19qf0aafxHhv1voP0xePx9qv0b
                afxIh/0yePxelf1+qv0cavxJh/0LX/x/q/1zo/0da/w0evxhl/2BrP0ea/x2pf0MX/w1evximP1M
                if02e/xNiv0NYPxkmf0hbfw4fPxlmv0FW/wIXfwgbPw7fvxVkP1wof2Ls/2mxP7///9QcU9XAAAA
                kXRSTlMAAGYhBRwBOU0HKAFcCxUFEAktCRwlPVxBMCEIAT0fAyUBGSoTRQMZUgsqBUgMAU0XAQsC
                SBUFYSgCFAVhJQJFEyUJAUUTA2EiCQERAwgBQRADYSE9A1wfBw8DHwcBDgMcBg0DBgE5DQIaBgEM
                AlcFATYMAhoBNgsZBQEzC1cBATMXAwEwAVIXAwkVCVIDLRQDVJnuaQAAAAFiS0dEAIgFHUgAAAAJ
                cEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQflAgsGGgMKNSMjAAADu0lEQVR42u3cB3dURRyG8dk/
                gVCSCEhIAomACCQkFGmCiVIVkFCV0LuUoIBUKyhKkSIg/eOy9HLC7t17576Te/M8n2Dmd94ze07O
                Zt3/JMuFPsBACmxhYAsDWxjYwsAWBrYwsIWBLQxsYWALA1sY2MLAFga2MLCFgS0MbGFgCwNbGNjC
                wBYGtjCwhYEtDGxhYAsDWxjYwsAWBrYwsIWBLQxsYWALA1sY2MLAFga2MLCFgS0MbGFgCwNbGNjC
                wNZ1F2xd98DWdR9sXQ/A1vUQbF2PwNb1GGxZ5sCWBbawQWDrqgJblwNbloGtC2xhg8HWNQRsWU9f
                EbBFVYOtqwpsWc9eEbA1DQVb1zCwZT1/RcCWNBxsXSPAllXjwJZVC7asFx+PYCuqA1vWq2GDnX51
                YMt6PWywU68ObFlvDBvslLMPwJZV7cBW9eYjAnbKjQRb1lAHtqq3HxGw08xGgS1rtANbVY0DW5U5
                sFXZh2CrsjEObFX1DmxVYx3YqsyBreo91mCnUIMDW1WjA1uUNTmwRdk4B7YoG+/AFmXNDmxRLc6B
                rck+cmCLsgnlrMH2lE0sSw22pxomRbAG20f2cRRqsD1k9dGowU6cTY5KDXbCSv0lBGyv2SeVUIMd
                P5sytTJqsONm0yqVBjtW1toWQxrsijOb3h5PGuyKso4ZM2NDgx0xs1mzqz5N5Ax2+cwmz5mbXBns
                kpnNm7+gUCh4gwa7r+yzhW2LCi8DO53MOj7vLLwT2L6zri9GfVnoM7D9KdviJe2FUoHtg7lr6bLl
                hfKBnUjZVnz1dQRlsJMxr1y1+pvozGDHU7bGNd2VKoNdMfPKcWvXxWQGO7Kyrd+wMZEy2FGYN307
                bJIPZrBLKdt3Izd7tfFeaCIvzD1btg4JDZl77OKYt20PLZh/bOvZsXNXaLvcY5u17N4TGi3/2Faz
                d1/2xpw1bLPq/QdCO+Ue26xh8PcHQwvlHtvs0OEjoWlyj10cc+/RH0Kj5B67OOYfj4XWyD222fHe
                Ez+Fdsg9ttnJU6dDA+QeuzjmM1VnQ18999hm537293WurCUc8y+//hb6trnHNvv9j0Whr9k/SlX5
                /LTOC6Ev2J9Ka8y1f4a+WT/M/5jbm5OfKqf5Y/6rdnnoy/T3fIz54t//hL5GNkrEfKntcujzZ6p4
                yleu/uvh/3kGXJUyN11bF/rI2S2ycuv17tBnzXxRxnwj0m/yUNlKKd+8/l/o4+WrvplH38jE17my
                1rtjns+Y0+sV861ljDntimO+fSf0IQZITwD9iKTTvcQ2NgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAy
                MS0wMi0xMVQwNjoyNjowMyswMzowMJAE/TkAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMDItMTFU
                MDY6MjY6MDMrMDM6MDDhWUWFAAAAAElFTkSuQmCC" />
                </svg>
            </div><!--/box svg-->
            <div class="boxText">
                <div class="marca">
                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="16.239" height="19.799" viewBox="0 0 16.239 19.799"><defs><style>.a{fill:#fff;}</style></defs><g transform="translate(-46.022)"><path class="a" d="M51.406,133.2c-2.947-.017-5.384-6.032-5.384-9.1,0-5,3.754-6.1,5.2-6.1a5.984,5.984,0,0,1,1.962.483,4.386,4.386,0,0,0,1.12.321,3.487,3.487,0,0,0,.8-.261,6.442,6.442,0,0,1,2.423-.586h.006a4.966,4.966,0,0,1,4.155,2.1l.3.455-.436.329a3.67,3.67,0,0,0-1.76,3.027,3.416,3.416,0,0,0,1.906,3.158c.273.164.556.334.556.7,0,.242-1.93,5.436-4.734,5.436a3.807,3.807,0,0,1-1.6-.388,3.242,3.242,0,0,0-1.423-.343,3.659,3.659,0,0,0-1.127.3,5.519,5.519,0,0,1-1.954.456Z" transform="translate(0 -113.397)"/><path class="a" d="M258.874,0c.073,2.632-1.81,4.459-3.69,4.344A4.2,4.2,0,0,1,258.874,0Z" transform="translate(-201.045)"/></g></svg> -->
                    {{equipo.equipment.equipment_details[0].adscreen[0].accessory_details[0].provider_name}}
                </div>
                <div class="title"> {{equipo.equipment.equipment_details[0].adscreen[0].accessory_details[0].accessory_name}}</div>
            </div>
        </div><!--/header-->
        <!--main-->
        <div class="container p-0 pb-5">
            <div class="row">
                <div class="col-12">
                    <div class="main">
                        <div class="boxDetalles" >
                            <div class="boxSvg position-right">
                                <img src="assets/img/slider3/bg-rosado.png">
                            </div>
                            <div class="boxText animated bounceInRight" style="animation-delay:0.35s">
                                <p class="light-text font-italic">Llévame</p>
                                <h5 class=" text-left">con este accesorio</h5>
                                <img class="text-left mt-2 mb-2 img-fluid" [src]="equipo.equipment.equipment_details[0].adscreen[0].accessory_details[0].accessory_image" style="height:150px" >
                                <div class="text text-accesorio">
                                    <p class="marca d-none">{{equipo.equipment.equipment_details[0].adscreen[0].accessory_details[0].provider_name}}</p>
                                    <p class="model d-none">
                                        {{equipo.equipment.equipment_details[0].adscreen[0].accessory_details[0].accessory_name}}
                                    </p>
                                    <p class="price font-weight-bold hvr-pulse-shrink2 mt-1" style="animation-delay:1.5s">${{equipo.equipment.equipment_details[0].adscreen[0].accessory_details[0].customer_price}}</p>
                                </div>
                            </div>
                        </div>
                    </div><!--/main-->
                </div>
            </div>
  
    </div>
      
        <!--buttons-->
        <div class="boxButtons">
            <button type="button" class="btn btn-primary mr-3">Ir al equipo</button>
            <button type="button" class="btn btn-danger pl-5 pr-5"  routerLink="/">
                <span>
                    <img src="assets/icons/left-arrow.svg">
                </span>
                Volver al plan
            </button>
        </div>
        <!--/buttons-->
    </div><!--/slider-->