
#slider1 {
    .boxButtons {
        text-align: center;
        margin-top: 30px;
    }
    
.header                 { width:100%; display: inline-block;  position: relative;
    z-index: 3;}
.header .boxSvg         {  z-index: 0; }
.header .boxSvg svg     { width:90%; position: absolute; top: -45px; left: 0px; }
.header .boxText        { padding: 12px 20px; position: relative; z-index: 1; color: #ffffff;  }
.header .boxText .marca { margin-bottom: 10px; }
.header .boxText .title { margin-bottom: 5px; font-size: 1.5rem; line-height: 15px;}
.header .boxText .color { }

.main            { margin-top: 10px; display: inline-block; width: 100%; }
.main .cuotas    { text-align: center; color:#055BFC; }
.main .cuotas p  { font-size: 1.5rem; margin:7px 0px 10px;  }
.main .cuotas h3 { font-size: 4.5rem; }

.position-right svg                    { float: right; width: 95%;}
.position-right img                    { float: right; width: 95%;}
.boxDetalles                           { position: relative; width:100%; }
.boxDetalles .boxSvg                   { position: absolute; z-index: 0;  right: 0px; width: 100%; }
.boxDetalles .boxText                  { 
    color:#ffffff;
    list-style: none;
    font-size: 20px;
    font-weight: 500; 
}
.boxDetalles .boxText                  { 
    position: relative; z-index: 2; float: right; text-align:right; margin: 54px 0px 0px 1px; width:80%; max-width: 300px; padding: 0px 35px 0px 0px;}
.boxDetalles .boxText .oferta          { color: #FD6C98; font-size: 1.22rem;  }
.boxDetalles .boxText .subTitle        { color: #055BFC; font-size: 1.3rem; margin: 12px 0px 0px 0px; text-align: right; }
.boxDetalles .boxText .desde           { color: #055BFC; font-size: 2.5rem; }
.boxDetalles .boxText .cargo           { color: #055BFC; font-size: 1rem; text-align: right; }
.boxDetalles .boxText .boxIcons img    { width: 75%; margin-top: 10px; }
.boxDetalles .boxText .precioNoCliente { margin:25px 0px 0px 0px; color: #055BFC; font-size:1.2rem;}
}



ul {
    &.lista {
        margin-top:20px;
        li {
            margin-bottom: 18px;
            text-align: left;
            font-size: 17px !important;
            span {
                img {
                    margin-right: 10px;
                    width: 30px;
                }
            }
            color:#ffffff;
            list-style: none;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.desde {
    position: relative;
    color: #ffffff;
  
    p {
        position: relative;
        z-index: 2;
        text-align: center;
        top: 3px;
        font-size: 19px;
    }
    img {
        position: absolute;
        z-index: 1;
        top: 0px;
    }
}
